body {
    font-family: "Calibri Light", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

header {
    background-color: #082757;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header img.logo {
    height: 40px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.user-info img {
    height: 40px;
    margin-right: 10px;
}

.user-info span {
    margin-right: 10px;
    white-space: nowrap;
    font-size: 16px;
}

.logout-btn {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 30px;
    background-color: #0d47a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #122474;
}

nav {
    background-color: #0f3765;
    color: white;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 70px;
    left: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    background-color: #0c5493;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0d47a1;
}

main {
    margin-left: 250px;
    padding: 100px 20px;
    background: url('../images/Eastern-Mediterranian-University-North-Cyprus-Students-on-Campus.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: auto;
}

section.active {
    display: block;
}

section h2 {
    color: #080f6f;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #90caf9;
    border-radius: 5px;
}

button {
    background-color: #241b8bd8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #122474;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #0f3765;
    color: white;
}

.no-requests {
    text-align: center;
    color: gray;
    font-style: italic;
    margin-top: 20px;
}
