<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS Dosyasını Bağla -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <form action="/login" method="POST">
        <img src="{{ url_for('static', filename='images/cropped_round_logo.png') }}" alt="School Logo" class="logo">
        <h2>Online Student Document System</h2>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="text" name="des_key" placeholder="DES Key" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>
